# Rust
/target/
**/*.rs.bk

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# By-products
*.rmeta
*.d
*.pdb

# Misc
*.swp
*.swo
.idea/

# Ignore database and secrets
.env
.env.local
.env.development
.env.production
*.sqlite
*.db

# Ignore Docker volumes (if mapped locally)
db-data/
